body {
    font-family: 'Noto Sans JP, sans-serif';
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ff99d8, #ffcdcd, #0099d8);
    min-height: 100vh;
}

.main-content {
    padding: 50px 20px;
    text-align: center;
}

.festival-title {
    font-size: 4em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    animation: pulse 2s infinite;
}

.festival-title {
    width: 100px;
    margin-left: 10px;
    position: fixed;
    z-index: calc(infinity);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity 0.5s ease;
}

.text-line {
    overflow: hidden;
    margin: 10px 0;
}

.letter {
    src: url("https://github.com/Kaito1108/CampusFestival2024Site/Paris2024-Variable.ttf") format("truetype");
    font-family: "Paris2024-Variable";
    display: inline-block;
    font-size: 4rem;
    font-weight: 700;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

@media screen and (max-width: 600px) {
    .letter {
        src: url("https://github.com/Kaito1108/CampusFestival2024Site/Paris2024-Variable.ttf") format("truetype");
        font-family: "Paris2024-Variable";
        display: inline-block;
        font-size: 40px;
        font-weight: 700;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
}

@media screen and (max-width: 500px) {
    .letter {
        display: inline-block;
        font-size: 30px;
        font-weight: 700;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
}

@media screen and (max-width: 400px) {
    .letter {
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
}

/* アニメーションで表示されるスタイル */
.letter.show {
    opacity: 1;
    transform: translateY(0);
}

/* 各行の色 */
#campus {
    color: #4699d8;
}

#festival {
    color: #a598d7;
}

#year {
    color: #de99d7;
}

/* メインコンテンツ非表示 */
.content-hidden {
    visibility: hidden;
}

/* ローディングが終わったら表示 */
.content-visible {
    visibility: visible;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.content-visible.loaded {
    opacity: 1;
}

/* ローディングが終わった後、文字を完全に非表示にする */
.container.hidden {
    display: none;
}