.exhibition-section {
    margin-top: 50px;
    margin-bottom: 150px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.Exhibition-title {
    margin-bottom: 100px;
}

.Exhibition-title img {
    text-align: center;
    width: 600px;
}

@media screen and (max-width: 700px) {
    .Exhibition-title img {
        text-align: center;
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .Exhibition-title img {
        text-align: center;
        width: 300px;
    }
}

.Exhibition-title h3 {
    color: black;
    font-family: Noto Sans JP;
}

.Exhibition-wrapper {
    display: block;
    unicode-bidi: isolate;
}

.Exhibition-Area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
