.link-section {
    margin-top: 50px;
    margin-bottom: 150px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.link-title {
    text-align: center;
    margin-bottom: 20px;
    width: 300px;
}

@media screen and (max-width: 900px) {
    .link-title {
        text-align: center;
        margin-bottom: 20px;
        width: 200px;
    }
}

@media screen and (max-width: 900px) {
    .link-title {
        text-align: center;
        margin-bottom: 20px;
        width: 150px;
    }
}


.link-wrapper {
    display: block;
    unicode-bidi: isolate;
}

.link-Area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.link-btn {
    text-decoration: none;
    list-style-type: none;
    width: 250px;
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .link-btn {
        text-decoration: none;
        list-style-type: none;
        width: 200px;
        padding: 10px;
    }
}

@media screen and (max-width: 750px) {
    .link-btn {
        text-decoration: none;
        list-style-type: none;
        width: 150px;
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {
    .link-btn {
        text-decoration: none;
        list-style-type: none;
        width: 100px;
        padding: 10px;
    }
}

.link-btn:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

